#profile {
  margin: 20px;

  border: 3px solid black;
  border-radius: 5px;
}
#profilewrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
#profilewrapper img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #333;
  overflow: hidden;
}

#profilewrapper #name {
  font-family: Arial, sans-serif;
  font-size: 44px;
  font-weight: 700;
  margin: 5px;
  color: black;
}

#profilewrapper #tag,
#location {
  font-family: Arial, sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin: 5px;
  color: #868686;
}

#stats {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 20px;
}
#stats li {
  display: flex;
  flex-direction: column;
  border-top: 3px solid #868686;
  width: 100%;
  border-right: 3px solid #868686;
  background-color: #cbcbcb;
  color: black;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 32px;
}
#stats li:last-child {
  border-right: none;
}

.statvalue {
  font-weight: 600;
}
