#transactionTable {
  margin: 20px;
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

#transactionTable th {
  background-color: #333;
  border: 1px solid black;
  color: white;
  padding: 10px;
  text-align: left;
}

#transactionTable td {
  padding: 10px;
  border: 1px solid black;
}

#transactionTable tr:nth-child(odd) {
  background-color: white;
}

#transactionTable tr:nth-child(even) {
  background-color: #d3d3d3;
}
